/.recommenders
/RemoteSystemsTempFiles
/datastructures/bin/datastructureshelper/buttonevents/FunctionalInterfaceIndexOfEmptyNode.class
/datastructures/build/build/classes/datastructureshelper/buttonevents/FunctionalInterfaceIndexOfEmptyNode.class
/datastructures/build/build/classes/datastructureshelper/*.class
/datastructures/bin/datastructureshelper/*.class
/datastructures/bin
/datastructures/build/build
/datastructures/build/project/src
